.button {
  display: block;
  padding: 14px 25px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $text-accent;
  border: 1px solid $text-accent;
  a {
    color: $background;
  }

  &.button-black {
    font-size: $font-size-small-1;
    line-height: 2;
    background-color: $background;
    color: $text-accent;
    a {
      color: $text-accent;
    }
  }
  &.button-subscribe {
    width: 100%;
  }
}
