.gallery {
  background-color: #181511;
}

.gallery-section-holder {
  padding: 120px 25px;

  @include tablet-view {
    padding: 120px 50px;
  }

  @include desktop-view {
    padding: 120px 120px;
  }
}

.gallery-heading {
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;

  }

  .pseudo-title {
    margin-bottom: 10px;
    font-family: $font-main;
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size-small-2;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-secondary;
  }

  .gallery-title {
    font-family: $font-main;
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size-large-2;
    line-height: 70px;
    color: $text-accent;
  }
}

.photos-gallery {

  @media screen and (min-width: 768px) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "gallery-item-1 gallery-item-2 gallery-item-3"
      "gallery-item-4 gallery-item-5 gallery-item-6"
      "gallery-item-7 gallery-item-8 gallery-item-9"
      "gallery-item-10 gallery-item-11 gallery-item-12"
      "gallery-item-13 gallery-item-14 gallery-item-15"
      "gallery-item-16 gallery-item-17 gallery-item-18"
      "gallery-item-19 gallery-item-20 gallery-item-21";
  }
}

.photo-border {
  border: 1px solid #4B4136;
  margin-bottom: 20px;
  padding: 10px;

  @media screen and (min-width: 768px) {
    padding: 20px;
    margin: 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 41px;
  }
}

.photo-description {
  font-family: $font-main;
  font-style: normal;
  font-weight: $weight;
  font-size: $font-size-small-3;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $text-primary;

}

.gallery-item-1 {
  grid-area: gallery-item-1;
}

.gallery-item-2 {
  grid-area: gallery-item-2;
}

.gallery-item-3 {
  grid-area: gallery-item-3;
}

.gallery-item-4 {
  grid-area: gallery-item-4;
}

.gallery-item-5 {
  grid-area: gallery-item-5;
}

.gallery-item-6 {
  grid-area: gallery-item-6;
}

.gallery-item-7 {
  grid-area: gallery-item-7;
}

.gallery-item-8 {
  grid-area: gallery-item-8;
}

.gallery-item-9 {
  grid-area: gallery-item-9;
}

.gallery-item-10 {
  grid-area: gallery-item-10;
}

.gallery-item-11 {
  grid-area: gallery-item-11;
}

.gallery-item-12 {
  grid-area: gallery-item-12;
}

.gallery-item-13 {
  grid-area: gallery-item-13;
}

.gallery-item-14 {
  grid-area: gallery-item-14;
}

.gallery-item-15 {
  grid-area: gallery-item-15;
}

.gallery-item-16 {
  grid-area: gallery-item-16;
}

.gallery-item-17 {
  grid-area: gallery-item-17;
}

.gallery-item-18 {
  grid-area: gallery-item-18;
}

.gallery-item-19 {
  grid-area: gallery-item-19;
}

.gallery-item-20 {
  grid-area: gallery-item-20;
}

.gallery-item-21 {
  grid-area: gallery-item-21;
}