@import "../base/variables";

.header {
  font-family: $font-main;
  color: $text-accent;
  text-transform: uppercase;

  .header-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 14px 25px;
    align-items: center;

    .nav-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      gap: 40px;

      .nav-item {
        color: $text-secondary;
      }
    }

    .logo-holder {
      display: flex;
      flex-wrap: nowrap;
      padding-left: 120px;
    }
  }
}
