@mixin tablet-view {
  @media (min-width: $width-tablet) and (max-width: #{$width-desktop - 1px}) {
    @content;
  }
}
@mixin desktop-view {
  @media (min-width: $width-desktop) {
    @content;
  }
}
@mixin font-setting($f-f, $f-st, $f-w, $f-sz, $l-h, $l-s, $f-c) {
  font-family: $f-f;
  font-style: $f-st;
  font-weight: $f-w;
  font-size: $f-sz;
  line-height: $l-h;
  letter-spacing: $l-s;
  color: $f-c;
}
@mixin size-m-w($m-w, $h) {
  max-width: $m-w;
  height: $h;
}
@mixin size($w, $h) {
  width: $w;
  height: $h;
}
